@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
    min-width: 320px;
}

html {
    font-size: 15px;
}

body,
button {
    font-family: 'Overpass', sans-serif;
}

main {
    width: 100%;

    height: 100vh;
    background-color: var(--VeryDarkBlue);
    display: flex;
    align-items: center;
    justify-content: center;


}

.card,
.thank-you-card {
    width: 370px;
    height: 370px;
    background-color: var(--DarkBlue);
    border-radius: 20px;
    display: flex;
    user-select: none;
    min-width: 320px;

}


.thank-you-card {
    display: none;
}


.card {
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
}

.star {
    background-color: hsl(213, 19%, 23%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.card h1,
.thank-you-card h1 {
    color: var(--White);
}

.card p,
.thank-you-card p {
    color: var(--MediumGrey);
    font-weight: 400px;
}

.buttons {

    display: flex;
    justify-content: space-between;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.buttons button {
    padding: 1.5rem;
    border-radius: 100%;
    background-color: hsl(213, 19%, 23%);
    color: var(--MediumGrey);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button:hover {
    background-color: var(--Orange);
    color: var(--White);
}

.submit {
    width: 100%;
    border-radius: 20px;
    padding: .8rem;
    background-color: var(--Orange);
    color: var(--White);
    font-weight: 700;
    letter-spacing: 1px;
    opacity: .5;

    pointer-events: none;
}

.submit:hover {
    background-color: var(--White);
    color: var(--Orange);
}

.select {
    background-color: var(--LightGrey) !important;
    color: var(--White) !important;
}

.thank-you-card {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
}

.thank-you-card p {
    text-align: center;
}




.info-back {
    color: var(--Orange);
    text-align: center;
    padding: .5rem 2rem;
    background-color: hsl(213, 19%, 23%);
    border-radius: 30px;
}